
.calculations{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 30px;
}

.calculation_sub{
    width: 30%;
}

.min_max{
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-top: 0;
}

.value_slider .MuiSlider-thumb > span > span{
    width: 60px!important;
    height: 30px!important;
    border-radius: 20% 20% 20% 0!important;
    transform: rotate(360deg)!important;
    background-color: #4da8da!important;
}

.MuiSlider-thumb > span > span{
    background-color: #4da8da!important;
}

.MuiFormControl-root .MuiSvgIcon-root{
    margin-bottom: 16px;
}

.value_slider .MuiSlider-thumb > span {
    top: -23px!important;
    left: 10px!important;
}

.MuiSlider-markLabel{
    font-family: 'Inter', sans-serif!important;
    font-weight: bold!important;
    font-size: 16px!important;
}

.value_slider .MuiSlider-thumb > span > span > span {
    transform: rotate(360deg)!important;
}

.value_slider .MuiSlider-mark{
    background-color: #8ebed8!important;
}

.MuiFilledInput-underline::before{
    border-bottom: none!important;
}

.MuiFilledInput-inputAdornedStart {
    padding: 10px 10px 10px 20px!important;
}

.MuiFilledInput-root{
    border-radius: 25px!important;
}

.rank_slider .MuiSlider-mark{
    background: black;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-left: -4px;
}

/* .rank_slider .MuiSlider-mark {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    
    margin-left: 0;
    margin-right: .9em;
    margin-bottom: 1.2em;
    
    border-right:  .2em solid transparent;
    border-bottom: .8em  solid black;
    border-left:   .2em solid transparent;
    font-size: 5px;
} */

/* .rank_slider .MuiSlider-mark:before, .rank_slider .MuiSlider-mark:after {
      content: '';
      
      display: block;
      width: 0;
      height: 0;
      
      position: absolute;
      top: 0.6em;
      left: -5px;
    
      border-right:  1em solid transparent;
      border-bottom: .7em  solid black;
      border-left:   1em solid transparent;
    
      transform: rotate(-35deg);
    } */
    
    /* .rank_slider .MuiSlider-mark:after {  
      transform: rotate(35deg);
    } */

.calculations .MuiSlider-track{
    height: 10px!important;
    border-radius: 10px!important;
    background-color: #4da8da!important;
}

.calculations .MuiSlider-rail{
    height: 10px!important;
    border-radius: 10px!important;
    width: 101%!important;
    background-color: #8ebed8!important;
}

.calculations .MuiSlider-thumb{
    height: 20px!important;
    width: 20px!important;
}
  

.fa-pencil-square-o{
    margin-right: 10px;
}

.calculate_button_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.calculation_title{
    font-size: 20px;
}

.result{
    text-align: center;
    font-size: 30px;
}

.result > span{
    /* color: red; */
    animation: blink 1.3s linear infinite;
}

.excel_calculations{
    font-size: 10px;
    text-align: center;
}

@keyframes blink{
    0%{opacity:0.30 ;}
    25%{opacity:0.40 ;}
    50%{opacity:0.60 ;}
    75%{opacity:0.80 ;}
    100%{opacity:1 ;}
}

.improve{
    /* display: flex;
    justify-content: space-evenly; */
    margin: 10px;
    padding: 10px;
    /* border: #007cc7 1px solid; */
    height: auto;
    /* -moz-box-shadow: 0 0 10px #999;
    -webkit-box-shadow: 0 0 10px #999;
    box-shadow: 0 0 10px #999; */
    text-align: center;
    margin: 5% 0 5% 0;
}

.improve_title{
    font-size: 40px;
}
.improve_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.improve_button > a > button{
    font-size: 25px;
}

.improve_button > a > button{
    background-color: #dfdfdf;
    border-radius: 4px;
}
.improve_button > a > button:hover{
    background-color: #4885ed;
    color: white;
}

.hand_pointer{
    /* display: block; */
    position: absolute;
    left: 600px;
    top: 1150px;
    animation:animation 5ss linear 1s;
	/* Safari and Chrome: */
	-webkit-animation:animation 5s linear 1s;
    /* display: none; */
}

@keyframes animation
	{
	0%   {left:50px; top:1150px;}
	25%  {left:316px; top:1150px;}
	26%  {left:317px; top:1150px;}
	50%  {left:479px; top:1150px;}
	75%  {left:600px; top:1150px;opacity: 0; display: none;}
	99%  {left:600px; top:1150px;opacity: 1}
	100%  {left:600px; top:1150px;opacity: 0; display: none;visibility: hidden;overflow: hidden;}
	}

    /* Safari and Chrome */

	@-webkit-keyframes animation 
	{
        0%   {left:50px; top:1150px;}
	25%  {left:316px; top:1150px;}
	26%  {left:317px; top:1150px;}
	50%  {left:479px; top:1150px;}
	75%  {left:600px; top:1150px;opacity: 0; display: none;}
	99%  {left:600px; top:1150px;opacity: 1}
	100%  {left:600px; top:1150px;opacity: 0; display: none;visibility: hidden;overflow: hidden;}
	}

@media only screen and (max-width: 560px){
    .calculations{
        display: block;
        justify-content: space-evenly;
        text-align: center;
        padding-top: 0px;
    }

    .calculation_title{
        font-size: 15px;
        padding-bottom: 5px;
    }

    .calculation_sub{
        /* margin-left: 30px; */
        width: 94%;
    }
    .calculation_sub_break{
        display: none;
    }
    .calculation_sub{
        /* border: 2px solid rgb(189, 189, 189);
        border-radius: 10px; */
        margin: 10px 10px 20px 10px;
        padding: 10px 20px 10px 20px;
        border: 2px dotted black;
        border-radius: 5%;
        /* padding: 10px 0 10px 0;
        margin: 20px 5px 0 5px; */
    }

    .improve{
        display: block;
        height: auto;
        margin: 20px 10px 20px 10px;
        padding: 10px 0 10px 0;
    }

    /* .improve_title{
        font-size: large;
    } */

    .result{
        font-size: large;
    }

    .excel_calculations{
        font-size: 8px;
        margin-bottom: 20px;
    }

    .improve_title{
        font-size: 20px;
    }

    .improve_button > a > button{
        font-size: 15px;
    }

    .calculations_border{
        border: 2px solid rgb(189, 189, 189);
        border-radius: 10px;
        padding: 3px;
    }
}
