.problems_we_solve_main_div{
    padding: 4% 0 6% 0;
    margin-bottom: 6%;
}

.problems_we_solve_title{
    border-left: #008ed9 15px solid;
    margin-left: 5%;
    margin-top: 2%;
    padding-left: 15px;
}

.carousel-indicators li{
    text-indent:0;
    width: 210px;
    height: 90px;
    border:none;
    /* background-color: #c4c4c4; */
    color: black;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    /* margin-bottom: 10px; */
}

.carousel-indicators{
    margin: 0 65px 0 65px;
}
.carousel-indicators > .active{
    border-bottom: #f4c20d 2px solid;
}

ol > div > div > div {
    font-size: 12px;
    padding: 5px;
}

.MuiButtonBase-root button::after{
    box-sizing: content-box!important;
}

ol > .active > div > li > img{
    background-color: #f4c20d;
    padding: 5px;
    border-radius: 25%;
    margin-bottom: 0;
}
ol > div > div > li > img{
    background-color: rgb(231, 231, 231);
    padding: 5px;
    border-radius: 25%;
    margin-bottom: 0;
}
/* ol > .active > div > li > .icon_btn {
    color: black;
} */

.problems_we_solve_icon{
    width: 100%!important;
    height: 90px;
    border-radius: 10px!important;
}
/* .problems_we_solve_icon_two{
    width: 50%!important;
    height: 90px;
    border-radius: 10px!important;
}
.problems_we_solve_icon_three{
    padding: 5%;
    border-radius: 50%!important;
} */

ol > div{
    display: flex!important;
    justify-content: center;
    /* background-color: #c4c4c4; */
    cursor: pointer;
    margin-right: 1px;
    /* padding-bottom: 10px; */
}

.carousel_main{
    display: flex;
    margin-top: 5%;
}

.carousel_img{
    margin: 2% 2% 0% 5%;
}
.carousel_image{
    width: 50%;
    height: 20%;
}
.carousel_desc{
    margin: auto ;
}

.carousel_paragraph1{
    width: 90%;
    font-size: 18px;
    /* text-align: center; */
}

.carousel-indicators{
    bottom: 90%;
}

.carousel_paragraph{
    width: 90%;
    margin-top: 35px;
}
.join_button{
    background-color: #f4c20d!important;
}
.join_button:hover{
    background-color: #12232e!important;
    color: white;
}

@media only screen and (max-width: 560px){
    .problems_we_solve_main_div{
        margin-bottom: 50px;
    }
    .problems_we_solve_title{
        font-size: x-large;
        border-left: #4885ed 8px solid;
        padding-left: 5px;
        margin-left: 2%;
    }

    ol > div > div > div {
        margin-top: 15px;
    }

    /* .carousel-indicators li{
        width: 300px;
        height: 70px;
        display: flex;
        
        flex-wrap: wrap;
        padding: auto;
    } */
    .carousel-indicators li{
        width: 100px;
        height: 70px;
        display: inline-block;
        
        /* flex-wrap: wrap; */
        padding: auto;
        text-align: center;
        align-items: center;
    }

    .carousel-indicators{
        /* display: flex;
        flex-wrap: wrap;
        margin: 0; */
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
        margin: 10px;
    }

    .carousel-indicators_li_div{
        text-align: center;
        width: 150px;
    }

    /* .carousel-indicators_li_div:nth-child(2) > div{
        content: 'vikram';
    } */

    .carousel-indicators{
        bottom: 80%;
    }

    .carousel_main{
        display: block;
        margin-top: 100px;
        /* height: auto; */
    }

    /* .carousel-indicators{
        display: flex;
        flex-wrap: wrap;
    } */

    /* .carousel-indicators{
        bottom: 38%;
    } */

    /* .carousel_main{
        display: block;
        margin-top: 500px;
    } */
    .carousel_desc{
        /* height: 350px; */
        height: auto;
        text-align: center;
    }

    .carousel_img  img {
        display: none;
    }

    .carousel_desc h1{
        font-size: x-large;
        text-align: center;
    }

    .carousel_paragraph1{
        width: 100%;
        font-size: large;
        text-align: start;
        padding: 0 10px 0 10px;
    }

    .carousel_paragraph{
        width: 100%;
        /* margin-top: 50px; */
        /* height: auto; */
    }

    .carousel_desc > h4{
        text-align: start;
        margin-left: 10px;
    }

}

