.Reverse_auction_banner{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #008ed9 100%);
}

.Reverse_auction_banner > .Reverse_auction_banner_text{
    font-size: 90px;
    padding: 10% 5% 0% 5%;
    color: white;
    /* text-align: center; */
}
.Reverse_auction_banner > .Reverse_auction_banner_sub_text{
    font-size: 25px;
    padding: 0% 5% 10% 5%;
    color: white;
    /* text-align: center; */
}

.Reverse_auction_video{
    margin-top: 15%;
    margin-bottom: 10%;
}

.reverse_auction_second_slide{
    margin: 80px;
    display: flex;
    justify-content: space-evenly;
}
.reverse_auction_second_slide > .reverse_auction_second_slide_image{
    background-color: #55a4ce;
    width: 45%;
}
.reverse_auction_second_slide > .reverse_auction_second_slide_desc{
    width: 45%;
}
.reverse_auction_second_slide > .reverse_auction_second_slide_desc > .reverse_auction_second_slide_desc_title{
    font-size: 50px;
    color: #008ed9;
}
.reverse_auction_second_slide > .reverse_auction_second_slide_desc > .reverse_auction_second_slide_desc_details{
 font-size: 20px;
}
.reverse_auction_second_slide > .reverse_auction_second_slide_desc > .reverse_auction_second_slide_desc_buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.reverse_auction_third_slide{
    margin: 80px;
    display: flex;
    justify-content: space-evenly;
}
.reverse_auction_third_slide > .reverse_auction_third_slide_image{
    background-color: #55a4ce;
    width: 45%;
}
.reverse_auction_third_slide > .reverse_auction_third_slide_desc{
    width: 45%;
}
.reverse_auction_third_slide > .reverse_auction_third_slide_desc > .reverse_auction_third_slide_desc_title{
    font-size: 50px;
    color: #008ed9;
}
.reverse_auction_third_slide > .reverse_auction_third_slide_desc > .reverse_auction_third_slide_desc_details{
 font-size: 20px;
}

.reverse_auction_four_step_div{
    margin: 5%;
}
.reverse_auction_four_step_div > .reverse_auction_step{
    display: flex;
}
.reverse_auction_four_step_div > .reverse_auction_step > .reverse_auction_step_image > img{
    width: 80%;
}
.reverse_auction_four_step_div > .reverse_auction_step > .reverse_auction_step_text > .reverse_auction_step_text_title{
    font-size: 48px;
    color: #008ed9;
}
.reverse_auction_four_step_div > .reverse_auction_step > .reverse_auction_step_text > .reverse_auction_step_text_desc{
    font-size: 25px;
}
.reverse_auction_four_step_div > .reverse_auction_step > .reverse_auction_step_text > .reverse_auction_step_text_points{
    font-size: 20px;
    margin-top: 10px;
}
.reverse_auction_four_step_div > .reverse_auction_step > .reverse_auction_step_text > .reverse_auction_step_text_points > div > img{
    margin-right: 10px;
}


.reverse_auction_salient_features_div{
    background-color: #dadada;
    /* justify-content: space-between; */
}
.reverse_auction_salient_features_steps_div{
    display: flex;
    padding: 5%;
    /* background-color: #cccccc; */
    /* justify-content: space-between; */
}

.reverse_auction_salient_features_title{
    padding: 2% 0 0 0;
    font-size: 50px;
    text-align: center;
    color: #008ed9;
    font-weight: bold;
}

.reverse_auction_how_it_works_image{
    padding: 2% 0 0 0;
    font-size: 100px;
    text-align: center;
    /* color: #008ed9; */
    /* font-weight: bold; */
}

.reverse_auction_salient_features_steps_div > div > div{
    font-size: 40px;
    margin: 4% 0 4% 0;
    width: auto;
}
.reverse_auction_salient_features_steps_div > div > div > span{
    cursor: pointer;
    color: #008ed9;
}

.reverse_auction_salient_features_images_div{
    /* background-color: tomato; */
    margin-left: 5%;
    width: 40%;
}

.reverse_auction_how_it_works{
    background-color: #008ee017;
  width: 400px;
  height: 100px;
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.reverse_auction_how_it_works_title{
    font-size: 50px;
    color: #008ed9;
    text-align: center;
    margin-top: 5%;
}

.reverse_auction_how_it_works_div{
    background-color: #008dd907;
  /* width: 400px;
  height: 100px; */
  border-radius: 50% / 70%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.reverse_auction_how_it_works_radio_buttons{
    padding-bottom: 3%;
}

.reverse_auction_how_it_works_radio_buttons > div > div > div > a{
    cursor: pointer;
}

.reverse_auction_stories_div{
    margin: 10% 8% 0 8%;
}

.reverse_auction_stories_div > .reverse_auction_story > .reverse_auction_story_image{
    background-color: #cccccc;
    height: 200px;
    width: 35%;
    /* background-color: #cccccc; */
}

.reverse_auction_stories_div > .reverse_auction_story{
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.reverse_auction_stories_div > .reverse_auction_story > .reverse_auction_story_description_div{
    /* font-size: 45px; */
    width: 60%;
    /* color: #008ed9; */
}
.reverse_auction_stories_div > .reverse_auction_story > .reverse_auction_story_description_div > .reverse_auction_story_description_title{
    font-size: 45px;
    /* width: 60%; */
    color: #008ed9;
}
