.knowledge_source_main_div{
    padding-top: 50px;
    background-color: #e8f7ff!important;
    padding-bottom: 50px;
}
.knowledge_source_main_div > .knowledge_source_title_div{
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
}

.knowledge_source_main_div > div > .active{
    opacity: 1.1;
    background-color: #008ed9!important;
    color: white!important;
    font-weight: bold!important;
    border-radius: 50px!important;
}
.knowledge_source_main_div > div > label > input{
    visibility: hidden;
    height: 0;
    width: 0;
}
.knowledge_source_main_div > .btn-group{
    display: flex;
    justify-content: center;
    margin: 0 auto!important
}
.knowledge_source_main_div > .btn-group{
    width: 500px!important;
    border: 1px solid rgb(212, 212, 212);
    padding: 5px;
    border-radius: 50px!important;
    background-color: white
;}
.knowledge_source_main_div > .btn-group > label{
    border-radius: 50px!important;
    margin: 0;
    font-size: 20px;
    background-color: white;
    border: none;
}