body{
  margin-top: 55px;
  /* font-family: 'DM Sans'!important */
}

/* html *
{
  font-family: 'DM Sans'!important
} */

/* .siq_bR {
  bottom: 80px!important;
  right: 10px!important;
} */

.calendly-badge-widget{
  left: 20px!important;
  width: fit-content!important;
}

@media only screen and (max-width: 560px) {
  .background_image{
      display: block;
  margin-left: auto;
  margin-right: auto;
    width: 60%;
    height: auto;
  }

  .siq_bR {
  bottom: 80px!important;
  right: 10px!important;
}

}
